# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Database files
*.db
*.db-journal
*.sqlite3
*.sqlite3-journal

# Environment variables
.env

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/
.cov
